/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
}

/* Container to hold the entire content and footer */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Flex grow 1 for the main content area to push the footer down */
main {
    flex: 1;
}

/* Header Styles */
header {
    background: #005bb5; /* Slightly toned down blue */
    color: #fff;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    border-radius: 50%;
    width: 120px; /* Adjust the width as needed */
    height: 120px; /* Adjust the height as needed */
    object-fit: cover;
    margin-bottom: 1rem;
    border: 2px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Section Styles */
section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 800px;
    background: #e6f2ff; /* Light blue background */
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify; /* Align text on both sides */
}

section h2 {
    border-bottom: 2px solid #005bb5; /* Adding border to section titles */
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

section a {
    color: #005bb5;
    text-decoration: none;
    font-weight: bold;
}

section a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    background: #005bb5; /* Slightly toned down blue */
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
    bottom: 0;
}

/* Style for lists in the home section */
#home ul {
    margin: 1rem 0;
    padding-left: 20px;
}

#home ul li {
    margin-bottom: 0.5rem;
}
